/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.custom-dialog .mat-mdc-dialog-container {
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.custom-dialog .mat-mdc-dialog-surface {
  background: transparent;
  box-shadow: none;
  padding: 0;
} 